@page
@model DemoProject.Pages.ChangePasswordModel
@{
}

<div class="change-pass">
    <form method="post">
        
        <div class="mess-err" asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Old password</label>
            <input type="password" name="OldPassword" required />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>New password</label>
            <input type="password" name="NewPassword" required />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Confirm new password</label>
            <input type="password" name="ConfirmPassword" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit">CHANGE</button>
        <div class="mess-success">@ViewData["SuccessMessage"]</div>
    </form>
</div>

<style>
    .change-pass {
        margin-top: 100px;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

        .form-group label {
            width: 150px; 
            margin-right: 10px;
        }

        .form-group input {
            width: 200px;
        }

    button {
        margin-top: 10px;
        padding: 10px;
    }

    .mess-err{
        color: red;

    }

    .mess-success{
        color:green;
        margin-top: 5px;
    }
</style>