@page
@model ProjectIoePrn.Pages.CreateExamModel
@{
}
<div class="de-thi">
    <div class="side-info">
        <div class="side-info-text">
            <p>Xin chào</p>
            <p>@Model.Admin.AdminName</p> <!--Admin Name here-->
            <p>ID: @Model.Admin.AdminId</p> <!--Admin Id here-->
            <p>Tài khoản: @Model.Admin.AdminUsername</p> <!-- Admin Username here-->
        </div>
        <div class="side-info-btn">
            <button>Danh sách kỳ thi của bạn</button>
            <button>Danh sách kỳ thi đang chờ</button>
        </div>
    </div>

    <div class="create-dethi">
        <br><br>
        <h3>Tạo đề tự luyện mới</h3>
        <div class="create-dethi-moi">
            <form id="createExamForm">
                <div class="form-group">
                    <label for="exam-name">Tên kỳ thi:</label>
                    <input type="text" id="exam-name" required>
                </div>
                <div class="form-group">
                    <label for="exam-date">Ngày thi:</label>
                    <input type="date" id="exam-date" required>
                </div>
                <div class="form-group">
                    <label for="exam-time">Thời điểm:</label>
                    <input type="datetime-local" id="exam-time" required>
                </div>
                <div>
                    <button type="button" id="createExamButton" onclick="createExam()">Tạo kỳ thi mới</button>
                    <button type="button" onclick="saveExam()">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function createExam() {
        const form = document.getElementById('createExamForm');
        const formFields = form.querySelectorAll('input[required]');
        let allFilled = true;

        formFields.forEach(field => {
            if (!field.value) {
                allFilled = false;
            }
        });

        if (allFilled) {
            window.location.href = 'AdminCreateExam/?AdminId=@Model.Admin.AdminId'; // Redirect to StudentTestPage.cshtml
        } else {
            alert('You must fill all fields!');
        }
    }

    function saveExam() {
        alert('Form saved.');
    }
</script>
