@page
@model ProjectIoePrn.Pages.CreateExamModel
@{
}
<div class="de-thi">
    <div class="side-info">
        <br /><br /><br />
        <div class="side-info-text" style="background-color: lightskyblue; border-radius: 10px;">
            <p>Xin chào: @Model.Admin?.AdminName</p> <!--Admin Name here-->
            <p>ID: @Model.Admin?.AdminId</p> <!--Admin Id here-->
            <p>Tài khoản: @Model.Admin?.AdminUsername</p> <!-- Admin Username here-->
        </div>
        <br />
        <div class="side-info-btn">
            <a href="/ListExams?AdminId=@Model.Admin.AdminId">
            <button>Danh sách kỳ thi công khai</button>
            </a>
            <a href="/WaitingExams?AdminId=@Model.Admin.AdminId">
            <button>Danh sách kỳ thi đang chờ</button>
            </a>
        </div>
    </div>

    <div class="create-dethi">
        <br><br>
        <div style="text-align: center; font-size: 24px; font-weight: bolder;">Tạo đề tự luyện mới</div>
        <br /><br />
        <div class="create-dethi-moi" style="background-color:aliceblue; border-radius: 5px; border: 1px solid black;">
            <form id="createExamForm">
                <div class="form-group">
                    <label for="exam-name">Tên kỳ thi:</label>
                    <input type="text" id="round-name" required>
                </div>
                <div class="form-group">
                    <label for="exam-date">Ngày thi:</label>
                    <input type="date" id="round-create-date" required>
                </div>
                <div>
                    <button type="button" id="createExamButton" onclick="createExam()">Tạo kỳ thi mới</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function createExam() {
        const form = document.getElementById('createExamForm');
        const formFields = form.querySelectorAll('input[required]');
        const roundName = document.getElementById('round-name').value;
        const roundCreateDate = document.getElementById('round-create-date').value;

        let allFilled = true;

        formFields.forEach(field => {
            if (!field.value) {
                allFilled = false;
            }
        });

        if (allFilled) {
            const adminId = '@Model.Admin.AdminId';
            const url = `AdminCreateExam?AdminId=${adminId}&RoundName=${encodeURIComponent(roundName)}&RoundCreateDate=${encodeURIComponent(roundCreateDate)}`;
            window.location.href = url;
        } else {
            alert('You must fill all fields!');
        }
    }
    /*
    function saveExam() {
        alert('Form saved.');
    }
    */
</script>
