@page
@model DemoProject.Pages.ListPracticeExamsModel
@{
}
<div class="de-thi">
    <div class="side-info">
        <div class="side-info-text">
            <p>Xin chào</p>
            <p>Nguyen Hoai Nam</p>
            <p>ID: Admin</p>
            <p>Tài khoản: NguyenHoaiNam00#</p>
        </div>
        <div class="side-info-btn">
            <button>Danh sách kỳ thi của bạn</button>
            <button>Danh sách kỳ thi đang chờ</button>

        </div>
    </div>

    <div class="create-dethi">
        <h3>Danh sách kỳ thi đang chờ</h3>
        <div class="list-tuluyen">

            <p>Vòng tự luyện số: </p>
            <div>
                <button><i class="fa-regular fa-eye"></i></button>

                <button><i class="fa-solid fa-pen"></i></button>

            </div>
        </div>
        <div class="dethi-page">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>



        </div>
    </div>


</div>