@page
@model QuizModel
@{
    ViewData["Title"] = "Quiz";
}

<div class="quiz-page-container quiz-background">
    <div class="quiz-content">
        <div class="quiz-main">
            <div class="question-box">
                <p class="question">..., tui là công túa chinh đẹp.</p>
                <div class="options">
                    <button class="option-button large-option-button">A. </button>
                    <button class="option-button large-option-button">B. </button>
                    <button class="option-button large-option-button">C. </button>
                    <button class="option-button large-option-button">D. </button>
                </div>
            </div>
        </div>

        <div class="quiz-sidebar">
            <div class="score-box">
                <p>Score: 0</p>
                <p>Name: </p>
                <p>ID: </p>
            </div>
        </div>
    </div>
</div>

<head>

</head>