@page
@model DemoProject.Pages.ResultModel
@{
    ViewData["Title"] = "Result";
}

<div class="result-page-container">
    <div class="result-box-container">
        <h1 class="result-box">Result</h1>
        <div class="score-box">
            <p>SCORE: </p>
        </div>
        <div class="time-box">
            <p>TOTAL TIME: </p>
        </div>
        <button class="result-button">OK</button>
    </div>
</div>
