/* Layout styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

header {
    background-color: rgba(0, 123, 255, 0.8);
    padding: 10px 20px;
    border-bottom: 1px solid #e5e5e5;

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    z-index: 999; /* Đảm bảo Header hiển thị trên cùng của các phần khác */


}

    header img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
    }

    header nav {
        display: flex;
        align-items: center;
    }

        header nav a {
            margin-left: 20px;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

            header nav a:hover {
                color: #ffcc00;
            }

    header .logout-button {
        background-color: #ff4d4d;
        border: none;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
    }

        header .logout-button:hover {
            background-color: #e60000;
        }

footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    background-color: rgba(248, 249, 250, 0.8);
    color: black;
}

/* Quiz page styles */
.quiz-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    
    
}

.quiz-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.quiz-main {
    flex: 3;
    text-align: center;
}

.question-box {
    background-color: rgba(0, 123, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #0056b3;
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

    .question-box p {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: white;
    }

.answer-input {
    width: 80%;
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin-bottom: 20px;
}

.submit-button {
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background: linear-gradient(145deg, #ff4d4d, #e60000);
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

    .submit-button:hover {
        background: linear-gradient(145deg, #e60000, #b30000);
        transform: scale(1.05);
    }

.quiz-sidebar {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.score-box {
    text-align: center;
    color: black;
}

    .score-box p {
        margin: 10px 0;
        font-size: 1.2em;
    }

.quiz-page-container.quiz-background {
    background: url('/images/Quiz.jpg') no-repeat center center fixed;
    background-size: cover;
    
}

/* Styling for option buttons */
.option-button {
    padding: 20px 40px;
    font-size: 1.5em;
    cursor: pointer;
    background: linear-gradient(145deg, #6c757d, #343a40);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 10px;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

    .option-button:hover {
        background: linear-gradient(145deg, #343a40, #1d2124);
        transform: scale(1.05);
    }
/* Result page styles */
.result-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    background: url('/images/Quiz.jpg') no-repeat center center fixed;
    background-size: cover;
}

.result-box-container {
    background-color: rgba(128, 0, 128, 0.9); /* Màu tím */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    width: 50%;
    max-width: 600px;
}

.result-box {
    color: white;
    margin-bottom: 10px;
}

.score-box {
    background-color: #28a745; /* Màu xanh lá cây */
    color: white; /* Màu chữ trắng */
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.time-box {
    background-color: #ffc107; /* Màu vàng */
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.result-button {
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #28a745; /* Màu xanh */
    color: white;
    border: none;
    border-radius: 10px;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

    .result-button:hover {
        background-color: #218838; /* Màu xanh đậm */
        transform: scale(1.05);
    }
<<<<<<< HEAD

/* Synonym page styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('/images/Quiz.jpg') no-repeat center center fixed;
    background-size: cover;
}

.game-container {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 10px;
    width: 360px;
    height: 360px;
}

.cell {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.3s;
    width: 80px;
    height: 80px;
}

    .cell.selected {
        border: 3px solid yellow;
    }

    .cell.matched {
        background-color: #28a745;
    }

.scoreboard {
    margin-left: 20px;
    text-align: center;

}

    .scoreboard .score, .scoreboard .timer {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .scoreboard .user-info {
        background-color: #dc3545;
        padding: 10px;
        border-radius: 10px;
    }

        .scoreboard .user-info p {
            margin: 5px 0;
        }
.info-container {
    background-color: #28a745; /* Màu xanh lá */
    padding: 20px; /* Thêm khoảng cách xung quanh */
    border-radius: 10px; /* Bo tròn góc */
    margin-left: 20px; /* Tạo khoảng cách với lưới ô */
}
body {
    font-family: Arial, sans-serif;
   
    color: white;
    margin: 0;
    padding: 0;
}

.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 80px; /* Adjust based on your header height */
}

.info-box {
    background-color: rgba(40, 167, 69, 0.9); /* Green color with some transparency */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

    .info-box h2 {
        margin-top: 0;
    }

    .info-box p {
        margin: 10px 0;
        font-size: 1.2em;
    }

.ranking-info-box {
    background-color: rgba(255, 193, 7, 0.9); /* Yellow color with some transparency */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

.ranking-info p {
    margin: 5px 0;
    font-size: 1.2em;
    color: black; /* Adjust color based on your background */
}

.search-container {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

    .search-container input {
        width: 300px;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

.table-container {
    width: 80%;
    max-width: 1000px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid #ced4da;
}

th, td {
    padding: 10px;
    text-align: left;
    color: black; /* Adjust color based on your background */
    background-color: rgba(255, 255, 255, 0.9); /* White with some transparency */
}

th {
    background-color: rgba(0, 123, 255, 0.9); /* Blue color with some transparency */
    color: white;
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

    .pagination span {
        padding: 5px 10px;
        background-color: rgba(0, 123, 255, 0.9); /* Blue color with some transparency */
        color: white;
        border-radius: 5px;
    }
    /*student test page*/
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.test-page-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #4CAF50; /* Green background for the header */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.test-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .test-info label {
        margin-right: 10px;
    }

    .test-info select,
    .test-info input[type="number"] {
        margin-right: 20px;
        padding: 5px;
        width: 200px; /* Increase the width of combo boxes and number inputs */
    }

.user-info {
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
    background-color: #007bff; /* Blue background for user info */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

    .user-info .user-details {
        display: inline-block;
        text-align: left;
    }

.question-container {
    margin-bottom: 20px;
}

    .question-container label {
        display: block;
        margin-bottom: 5px;
    }

    .question-container textarea,
    .question-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.buttons {
    text-align: center;
}

    .buttons button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        font-size: 1em;
    }

        .buttons button:hover {
            background-color: #0056b3;
        }
        /*noi tu page*/
 /* CSS styles */
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.test-page-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #4CAF50; /* Green background for the header */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.test-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .test-info label {
        margin-right: 10px;
    }

    .test-info select,
    .test-info input[type="number"] {
        margin-right: 20px;
        padding: 5px;
        width: 200px; /* Increase the width of combo boxes and number inputs */
    }

.user-info {
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
    background-color: #007bff; /* Blue background for user info */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

    .user-info .user-details {
        display: inline-block;
        text-align: left;
    }

.question-container {
    margin-bottom: 20px;
}

    .question-container label {
        display: block;
        margin-bottom: 5px;
    }

    .question-container textarea,
    .question-container input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.answer-options {
    margin-top: 10px;
}

    .answer-options input[type="radio"] {
        margin-right: 5px;
    }

.buttons {
    text-align: center;
}

    .buttons button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        font-size: 1em;
    }

        .buttons button:hover {
            background-color: #0056b3;
        }
        /*Admin3*/

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.test-page-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #4CAF50; /* Green background for the header */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.test-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .test-info label {
        margin-right: 10px;
    }

    .test-info select,
    .test-info input[type="number"] {
        padding: 5px;
        width: 150px; /* Adjust the width */
    }

.user-info {
    text-align: left; /* Align text to the left */
    margin-bottom: 20px;
    background-color: #007bff; /* Blue background for user info */
    color: white;
    padding: 10px;
    border-radius: 5px;
}

    .user-info .user-details {
        display: inline-block;
        text-align: left;
    }

.question-container {
    margin-bottom: 20px;
}

    .question-container table {
        width: 100%;
        border-collapse: collapse;
    }

    .question-container th,
    .question-container td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

        .question-container td.equals-sign {
            width: 50px; /* Ensure the equals sign cell has a fixed width */
        }

    .question-container input[type="text"] {
        width: 95%; /* Make input boxes smaller */
        padding: 5px;
    }

.buttons {
    text-align: center;
}

    .buttons button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        font-size: 1em;
    }

        .buttons button:hover {
            background-color: #0056b3;
        }

        /*StudentHomePage*/
body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-info {
    margin-bottom: 20px;
}

.exam-info, .school-year-info, .exam-results, .rank-info {
    margin-bottom: 20px;
}

.exam-details, .practice-status, .results-details, .self-practice-rank, .exam-rank {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.gray-box {
    background-color: #dcdcdc; /* Gray box */
}

.green-box {
    background-color: #90ee90; /* Green box */
}

.blue-box {
    background-color: #add8e6; /* Blue box */
}

.purple-button {
    background-color: #8a2be2; /* Purple background for buttons */
}

    .purple-button:hover {
        background-color: #6a0dad; /* Darker purple on hover */
    }

.green-button {
    background-color: #008000; /* Green background for buttons */
}

    .green-button:hover {
        background-color: #006400; /* Darker green on hover */
    }
/* Trang Index */
/* Trang Index */
.home-header, .other-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4DC3FF; 
    color: white; 
}

    .home-header .left-nav, .other-header .left-nav {
        flex: 1;
        text-align: right; 
    }

        .home-header .left-nav a, .other-header .left-nav a {
            margin-left: 20px; 
            color: white; 
        }

    .home-header .right-nav, .other-header nav {
        display: flex;
        gap: 20px; /
        align-items: center; 
    }

        .home-header .login-link,
        .home-header .register-link,
        .other-header nav a,
        .other-header .logout-button {
            padding: 10px 15px;
            border: none; 
            border-radius: 5px;
            background-color: white; 
            color: #4DC3FF; 
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none; 
        }

            .home-header .login-link:hover,
            .home-header .register-link:hover,
            .other-header nav a:hover,
            .other-header .logout-button:hover {
                background-color: #f0f0f0; 
            }

.logo {
    width: 100px; 
}

.footer {
    background-color: #4DC3FF; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

.footer-content {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
}

    .footer-content span {
        margin: 0 15px; 
    }

.de-thi {
    display: flex;
    flex-direction: row;
    color: black;
}

.side-info {
    width: 20%;
    margin: 20px
}

.side-info-text {
    background-color: aliceblue;
    padding: 10px;
}

.side-info-btn button {
    width: 80%;
    height: 40px;
    margin: 10px;
    background-color: mediumpurple;
    font-size: large;
    border: none;
    color: white;
}

    .side-info-btn button:hover, .create-dethi-moi button:hover, .list-tuluyen button:hover {
        background-color: rebeccapurple;
    }

.create-dethi-moi {
    background-color: lightgray;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.create-dethi {
    margin: 30px;
    width: 40%;
}

.create-dethi-moi form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .form-group label {
        width: 120px;
    }


    .form-group textarea {
        width: 300px;
        height: 70px;
    }

.create-dethi-moi button {
    font-size: large;
    background-color: mediumpurple;
    border: none;
    padding: 10px;
    padding: 10px;
    color: white;
    margin-left: 100px;
    margin-top: 20px;
}

.dethi-page {
    display: flex;
    flex-direction: row;
}

    .dethi-page button {
        background-color: deepskyblue;
        padding: 10px;
        color: white;
        border: none;
        margin: 20px;
        width: 50px;
    }

        .dethi-page button:hover {
            background-color: dodgerblue;
        }

.list-tuluyen {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

    .list-tuluyen button {
        font-size: large;
        background-color: mediumpurple;
        border: none;
        padding: 10px;
        color: white;
    }


